.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* App.css */
.custom-row {
  justify-content: flex-start;
}

.custom-col {
  flex: 0 0 calc(20% - 10px); /* Set each card to take up 20% of the width */
  max-width: calc(20% - 10px); /* Set max width to 20% minus the spacing */
}

.card {
  margin-bottom: 15px; /* Optional margin for additional spacing */
}
.card {
  max-width: 400px; /* Adjust the size as needed */
  margin: auto; /* Center the card */
}

.card img {
  height: 300px; /* Set a fixed height for the image */
  object-fit: cover; /* Ensure the image covers the area */
}
